<div class="container mt-5 text-center">
  <h1>Bienvenido a EDUrents 👋</h1>
  <p class="lead">Explora, intercambia y alquila materiales educativos de manera segura.</p>
  <a routerLink="/auth/login" class="btn btn-primary mt-3">Iniciar sesión</a>
  <a routerLink="/public/products" class="btn btn-outline-secondary mt-3 ms-2">Explorar productos</a>

  <div class="text-center mt-5">
    <a routerLink="/user/transactions/create" class="btn btn-danger btn-lg">
        Ir a Crear Transacción
    </a>
  </div>

</div>