<button class="btn btn-outline-danger" (click)="cambiarAVistaVendedor()">Cambiar a vista vendedor</button>

<div class="container mt-4">
  <div class="row">
    <!-- Historial de Transacciones -->
    <div class="col-md-6 border-end pe-4">
      <h4 class="mb-3 text-center">Historial de Pagos</h4>
      <app-historial-pagos />
    </div>

    <!-- Historial de Intercambios -->
    <div class="col-md-6 ps-4">
      <h4 class="mb-3 text-center">Ofertas de Intercambio</h4>
      <app-historial-intercambios />
    </div>
  </div>
</div>
