<style>
h2 {
    color: white;
    text-align: center;
}
p {
    color: white;
    text-align: left;
}
label {
    color: white;
    text-align: left;
}
</style>

<h2> {{ data.message.name }}</h2>

<label for="editname">Nuevo nombre: </label>
<input type="text" id="editname" name="editname"><br>
<label for="editprice">Nuevo precio: S/.</label>
<input type="text" id="editprice" name="editprice"><br>
<label for="editxchange">Acepta intercambio: </label>
<input type="checkbox" id="editxchange" name="editxchange"><br>

<p *ngIf="invalid_input">Ingresar Valores Validos</p>
<button (click)="close_popup_and_edit()">Confirmar</button>
<button (click)="close_popup()">Cancelar</button>


