<app-navbar></app-navbar>

<div class="container">
  <div class="p-4 d-flex align-items-center justify-content-center gap-3 search-box w-100">

    <!-- Input que se ajusta al espacio disponible -->
    <input
      type="text"
      placeholder="Ingrese producto"
      class="form-control search-input flex-grow-1"
    />

    <div #contenedorFiltros class="position-relative d-inline-block">
      <!-- Botón -->
      <button class="search-filter-button" (click)="alternarFiltros()">Filtros</button>

      <!-- Ventana de filtros flotante -->
      <div
        *ngIf="mostrarFiltros"
        class="bg-white border rounded shadow p-3 mt-2 position-absolute z-3 end-0"
        style="min-width: 300px"
      >
        <app-filter-product-list
          (filtrosAplicados)="filtrarProductos($event)"
        ></app-filter-product-list>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-8 text-start">
      <a routerLink="/product-list" class="btn btn-primary" style="background-color: #CC0A00; border: none">Buscar productos</a>
    </div>
  </div>
</div>

<div class="container mt-4">

  <!-- Sección: Tendencia -->
  <h3 class="mb-3">🔥 Tendencia</h3>
  <div class="horizontal-scroll">
    <app-product-card *ngFor="let producto of productosTrendy" [producto]="producto"></app-product-card>
  </div>

  <!-- Sección: Recientes -->
  <h3 class="mt-5 mb-3">🕒 Recientes</h3>
  <div class="horizontal-scroll">
    <app-product-card *ngFor="let producto of productosRecientes" [producto]="producto"></app-product-card>
  </div>

  <!-- Sección: Top-Intercambios -->
  <h3 class="mt-5 mb-3">🌟 Top-Intercambios</h3>
  <div class="horizontal-scroll">
    <app-product-card *ngFor="let producto of productosTopintercambios" [producto]="producto"></app-product-card>
  </div>

</div>

<app-footer></app-footer>