<div class="container" style="margin-top: 5rem; margin-bottom: 20rem;">
  <h3 class="mb-4">Historial de Transacciones</h3>

  <!-- Filtros -->
  <div class="row mb-4">
    <div class="col-md-4">
      <label for="metodoSelect">Método de Pago</label>
      <select id="metodoSelect" class="form-select" [(ngModel)]="filtroMetodoPago" (change)="filtrar()">
        <option value="">Todos</option>
        <option value="EFECTIVO">Efectivo</option>
        <option value="TARJETA">Tarjeta</option>
        <option value="BANCA">Banca</option>
        <option value="GOOGLEPAY">Google Pay</option>
        <option value="APPLEPAY">Apple Pay</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="estadoSelect">Estado</label>
      <select id="estadoSelect" class="form-select" [(ngModel)]="filtroEstado" (change)="filtrar()">
        <option value="">Todos</option>
        <option value="PENDIENTE">PENDIENTE</option>
        <option value="PAGADO">PAGADO</option>
        <option value="CANCELADO">CANCELADO</option>
        <option value="RECLAMO_ENVIADO">RECLAMADO</option>
      </select>
    </div>
  </div>

  <!-- Lista de transacciones -->
  <div *ngIf="transacciones.length === 0">No hay transacciones que coincidan.</div>

  <div class="card mb-4" *ngFor="let t of transacciones">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="t.producto.imagenes[0].url" class="img-fluid rounded-start" alt="Producto">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ t.producto.nombre || 'Producto' }}</h5>
          <p class="card-text mb-1"><strong>Precio:</strong> S/ {{ t.producto.precio || '---' }}</p>
          <p class="card-text mb-1"><strong>Método de Pago:</strong> {{ t.metodo_pago || '---' }}</p>
          <p class="card-text mb-1"><strong>Estado:</strong>
            <span [ngClass]="getEstadoColor(t.estado)"> {{ t.estado || '---' }}</span>
          </p>
          <p class="card-text mb-1"><strong>Publicado por:</strong> {{t.producto.vendedor.nombreNegocio }}</p>
          <p class="card-text">
            <small class="text-muted">Fecha: {{ t.fecha_transaccion| date:'mediumDate' }}</small>
          </p>

          <!-- Botones de acción -->
          <div class="mt-2">
            <button class="btn btn-primary me-2" (click)="verDetalle(t)" *ngIf="t.estado !== 'CANCELADO'">Ver Detalle</button>
            <button class="btn btn-success me-2" *ngIf="t.estado === 'PENDIENTE' || t.estado === 'RECLAMO_ENVIADO'" (click)="confirmar(t.id, t.producto.id)">Confirmar</button>
            <button class="btn btn-danger me-2" *ngIf="t.estado === 'PENDIENTE'" (click)="cancelar(t.id)">Cancelar</button>
            <button class="btn btn-outline-secondary" *ngIf="t.estado !== 'CANCELADO' && t.estado !== 'RECLAMO_ENVIADO'" (click)="reclamar(t.id)"
            [disabled]="t.motivo_reclamo">Reclamar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
