<div class="container-fluid contenedor-publicacion">
  <div class="row justify-content-center align-items-center">
    <div class="col-10 text-center contenedor-imagen-producto">
      <img [src]="producto.imagenes?.[0]?.url" alt="Imagen del producto" class="img-fluid img-producto">
    </div>
    <div class="col-10 contenedor-datos-principales-producto">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
          <div class="col-6 text-start">
            <h5 class="mb-0 texto-general" style="font-size: 20px">{{ producto.nombre }}</h5>
          </div>
          <div class="col-6 text-end">
            <p class="mb-0 texto-general" style="font-size: 20px">S/. {{ producto.precio | number:'1.2-2' }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-10 text-center" style="margin-top: 10px">
      <p class="texto-general" style="font-weight: bolder; font-size: 14px">
            {{ producto.acepta_intercambio ? 'Intercambio disponible' : 'No acepta intercambio' }}
          </p>
    </div>
    <div class="col-10 text-center" style="margin-bottom: 1rem">
      <h6 class="texto-general" style="font-weight: bolder; font-size: 14px">Publicado por:<span class="texto-general"> {{ producto.vendedor.nombreUsuario || 'Anónimo' }}</span></h6>
    </div>
    <div class="col-10 text-center contenedor-boton">
      <button class="texto-general btn-crear" (click)="verProducto(producto.id)">Ver Producto</button>
    </div>
    <div class="col-10 text-center contenedor-boton" *ngIf="!productoPropio && !haHechoTransaccionPendiente && productoDisponible">
      <button class="texto-general btn-crear" (click)="iniciarTransaccion(producto.id)">Iniciar Transacción</button>
    </div>
    <div class="col-10 text-center contenedor-boton" *ngIf="productoPropio">
      <span class="texto-general texto-producto-propio">Este producto es tuyo</span>
    </div>
    <div class="col-10 text-center contenedor-boton" *ngIf="haHechoTransaccionPendiente">
      <span class="texto-general texto-producto-con-transaccion">Hay una transacción pendiente para este producto</span>
    </div>
    <div class="col-10 text-center contenedor-boton" *ngIf="!productoDisponible">
      <span class="texto-general texto-producto-con-transaccion">Producto no disponible</span>
    </div>
  </div>
</div>
