.texto-general{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.contenedor-rp-imagen{
    height: 100vh;
    position: relative;
    background-color: #F10C00;
    border-bottom-left-radius: 3rem;;
}

.contenedor-nombre-app{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor-general-rp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor-logo-form{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contenedor-bienvenida{
    margin-bottom: 2rem;
}

.contenedor-campo-form{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contenedor-btn-rp{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.contenedor-opciones-adicionales{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.contenedor-copyright{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.logo-form{
    max-width: 40%;
    width: 100%;
    height: auto;
}

.titulo-parte1{
    color: #34495E;
    font-weight: 700;
    font-size: 3rem;
}

.titulo-parte2{
    color: #BDBDBD;
    font-weight: 700;
    font-size: 1.5rem;
}

.input-form{
    padding: 10px;
    font-size: 1rem;
}

.texto-label-input{
    font-weight: 700;
    font-size: 1rem;
}

.texto-error{
    color: #E74C3C;
    font-size: 0.8rem;
}

.texto-label-opcion{
    font-size: 0.8rem;
    color: #A0AEC0;
}

.texto-opcion{
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    color: #34495E;
}

.texto-rp-imagen{
    font-size: 4rem;
    color: #FFFFFF
}

.btn-rp{
    width: 80%;
    background-color: #F10C00;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.btn-rp:disabled{
    background-color: #D8D7D6;
}