<app-navbar></app-navbar>

<div class="container text-center mt-5">
  <img src="assets/cancel.png" alt="Transacción cancelada" width="100" class="mb-3" />

  <h3 class="text-danger">¡Transacción cancelada!</h3>

  <p class="text-muted mt-3 text-justify">
    Esta transacción ha sido cancelada exitosamente. Si fue un error o necesitas ayuda, puedes contactarnos o crear una nueva transacción. Esperamos ayudarte mejor la próxima vez.
  </p>

  <button class="btn btn-danger mt-4 px-4" (click)="volverAlInicio()">Volver al inicio</button>
</div>

<app-footer></app-footer>
