<h2>Mis productos:</h2><br>

<div *ngFor= "let product of myproducts">
    <h3>{{ product.name }}</h3>
    <p>Precio: S/{{ product.precio }}</p>
    <p>Se permite intercambio: {{ product.intercambio }}</p>
    <p>Publicador: {{ product.publicador }}</p>

    <div class="button-container">
        <button (click)="access_publication_to_observe(product.id)">Visualizar</button>
        <button (click)="access_publication_to_edit(product.id)">Editar</button>
        <button (click)="delete_publication(product.id)">Borrar</button>
    </div><br><br>

</div>

<h2>Crear nueva publicacion:</h2>
<label for="fname">Nombre: </label>
<input type="text" id="fname" name="fname"><br><br>
<label for="fprice">Precio: S/.</label>
<input type="text" id="fprice" name="fprice"><br><br>
<label for="fexchange">Acepta intercambio: </label>
<input type="checkbox" id="fexchange" name="fexchange"><br><br>
<button (click)="verify_and_create_publication()">Crear</button>