<div class="container text-center mt-5">
  <img src="assets/check-success.png" alt="Pago confirmado" width="100" class="mb-3" />

  <h3 class="text-success">¡Pago confirmado exitosamente!</h3>

  <p class="text-muted mt-3 text-justify">
    Tu confirmación ha sido registrada con éxito. El vendedor será notificado y el proceso continuará normalmente. Puedes revisar el estado de tus transacciones en cualquier momento desde tu historial.
  </p>

  <button class="btn btn-success mt-4 px-4" (click)="volverAlInicio()">Volver al inicio</button>
</div>
