<app-navbar></app-navbar>

<div class="container-fluid contenedor-general-cambio-foto">
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <form [formGroup]="photoForm" (ngSubmit)="onSubmit()">

            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 text-center contenedor-titulo">
                        <h1 class="texto-general texto-titulo">Cambiar foto de perfil</h1>
                    </div>

                    <div class="col-8 text-center">
                        <img [src]="foto" alt="foto-perfil" class="img-fluid foto-perfil" (error)="onImageError()">
                    </div>

                    <div class="col-6 contenedor-input">
                        <div class="container-fluid">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-12">
                                    <span class="texto-general texto-label-input">Foto (URL)</span>
                                </div>
                                <div class="col-12">
                                    <input type="url" formControlName="foto_url" class="form-control input-general" placeholder="Ingrese la URL de su foto" name="foto_url" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-7 text-center contenedor-btn-form">
                        <button class="texto-general btn-form" type="submit" [disabled]="photoForm.invalid">Actualizar Foto</button>
                    </div>

                </div>
            </div>

            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>